body {
 background: black;
}

header {
 width:100%;
 height:10%;
}

img {
 width:90%;
 height:auto;
}

nav {
 width:100%;
 height:100%;
}

button {
 border:1px;
 border-color:yellow;
 width:30%;
 height:auto;
 background:black;
}

video {
 width: 100%;
 height: 50%;

}

.fa {
 font-size: 20px;
 width: 20px;
 text-align: center;
 text-decoration: none;
 margin: 2px 5px;

 border-radius:25%;
 }
 
 .fa { 
 padding: 20px;
 }

.fa:hover {
 opacity: 0.7;
 }
 
.fa-facebook {
 background: #3B5998; 
 color: white ;
 }
 
.fa-twitter {
 background: #55ACEE; color: white;
 }
 
.fa-google {
 background: #dd4b39;
 color: white;
 }
 
 .fa-linkedin {
 background: #007bb5;
 color: white;
 }
 
.fa-youtube { background: #bb0000;
 color: white;
 }
 
 p a {
  color:yellow;
 }
 
 li {
 ;
 float: left;
 }
 
 li a {
 color:yellow;
 padding: 5px;
 text-decoration: none;
 }
 
li a:hover{
 background-color:green;
 }

.floater {
 float: right;
 }

iframe {
 width:auto;
 height:100%;
 background-color:red;
 border:2px solid yellow;
 
}

iframe {
 padding:1;
}

#wrap {
 display: flex; 
 justify-content: center;
 align-items: center; 
 height: 300px;
 }
 
 
